<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        <div class="layui-form-item">
            <label class="layui-form-label">鏈</label>
            <div class="layui-input-block">
                <input type="text" name="blockchain" class="layui-input" lay-verify="required" placeholder="請輸入鏈" value="{$row.blockchain|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">項目</label>
            <div class="layui-input-block">
                <input type="text" name="collection" class="layui-input" lay-verify="required" placeholder="請輸入項目" value="{$row.collection|default=''}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">時區(UTC)</label>
            <div class="layui-input-block">
                <select name="utc" lay-verify="required" >
                    <option value="">請選擇時區（UTC）</option>
                    {volist name='utcList' id='utc'}
                    <option value="{$utc}"> {$utc}</option>
                    {/volist}
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">當地時間</label>
            <div class="layui-input-block">
                <input type="text" name="ori_date" class="layui-input" lay-verify="required" placeholder="請輸入當地時間" value="{$row.ori_date|default=''}">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">時間</label>
            <div class="layui-input-block">
                <input type="text" name="date" class="layui-input" lay-verify="required" placeholder="請輸入當地時間" value="{$row.date|default=''}">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">TBA</label>
            <div class="layui-input-block">
                <input type="checkbox" name="is_tab" title="TBA" value="2">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label required">圖片網址</label>
            <div class="layui-input-block layuimini-upload">
                <input name="collection_url" class="layui-input layui-col-xs6" placeholder="請上傳圖片" value="{$row.collection_url|default=''}">
                <div class="layuimini-upload-btn">
                    <span><a class="layui-btn" data-upload="collection_url" data-upload-number="one" data-upload-exts="png|jpg|jpeg" data-upload-icon="image"><i class="fa fa-upload"></i> 上傳</a></span>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">價格</label>
            <div class="layui-input-block">
                <input type="text" name="price" class="layui-input" placeholder="請輸入價格" value="{$row.price|default=''}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">項目數</label>
            <div class="layui-input-block">
                <input type="text" name="total" class="layui-input" lay-verify="required" placeholder="請輸入項目數" value="{$row.total|default=''}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">網站</label>
            <div class="layui-input-block">
                <input type="text" name="website" class="layui-input" placeholder="請輸入網站" value="{$row.website|default=''}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">Twitter</label>
            <div class="layui-input-block">
                <input type="text" name="twitter" class="layui-input" placeholder="請輸入Twitter" value="{$row.twitter|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Discord</label>
            <div class="layui-input-block">
                <input type="text" name="discord" class="layui-input" placeholder="請輸入Discord" value="{$row.discord|default=''}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">Instagram</label>
            <div class="layui-input-block">
                <input type="text" name="instagram" class="layui-input" placeholder="請輸入Instagram" value="{$row.instagram|default=''}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">標籤</label>
            <div class="layui-input-block">
                <div class="layui-inline">
                    <label>
                        <input type="text" name="category[]" class="layui-input" placeholder="請輸入標籤1" value="{$row.category[0]|default=''}">
                    </label>
                </div>
                <div class="layui-inline">
                    <label>
                        <input type="text" name="category[]" class="layui-input" placeholder="請輸入標籤2" value="{$row.category[1]|default=''}">
                    </label>
                </div>
                <div class="layui-inline">
                    <label>
                        <input type="text" name="category[]" class="layui-input" placeholder="請輸入標籤3" value="{$row.category[2]|default=''}">
                    </label>
                </div>
                <div class="layui-inline">
                    <label>
                        <input type="text" name="category[]" class="layui-input" placeholder="請輸入標籤4" value="{$row.category[3]|default=''}">
                    </label>
                </div>
                <div class="layui-inline">
                    <label>
                        <input type="text" name="category[]" class="layui-input" placeholder="請輸入標籤5" value="{$row.category[4]|default=''}">
                    </label>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">簡介</label>
            <div class="layui-input-block">
                <textarea name="introduction" rows="10" class="layui-textarea editor">{$row.introduction|default=''}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">成員介紹</label>
            <div class="layui-input-block">
                <textarea name="member" rows="10" class="layui-textarea editor">{$row.member|default=''}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">路線圖</label>
            <div class="layui-input-block">
                <textarea name="roadmap" rows="10" class="layui-textarea editor">{$row.roadmap|default=''}</textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">簡介(簡)</label>
            <div class="layui-input-block">
                <textarea name="introduction_cn" rows="10" class="layui-textarea editor">{$row.introduction_cn|default=''}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">成員介紹(簡)</label>
            <div class="layui-input-block">
                <textarea name="member_cn" rows="10" class="layui-textarea editor">{$row.member_cn|default=''}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">路線圖(簡)</label>
            <div class="layui-input-block">
                <textarea name="roadmap_cn" rows="10" class="layui-textarea editor">{$row.roadmap_cn|default=''}</textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">簡介(英)</label>
            <div class="layui-input-block">
                <textarea name="introduction_en" rows="10" class="layui-textarea editor">{$row.introduction_en|default=''}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">成員介紹(英)</label>
            <div class="layui-input-block">
                <textarea name="member_en" rows="10" class="layui-textarea editor">{$row.member_en|default=''}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">路線圖(英)</label>
            <div class="layui-input-block">
                <textarea name="roadmap_en" rows="10" class="layui-textarea editor">{$row.roadmap_en|default=''}</textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">簡介(日)</label>
            <div class="layui-input-block">
                <textarea name="introduction_jp" rows="10" class="layui-textarea editor">{$row.introduction_jp|default=''}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">成員介紹(日)</label>
            <div class="layui-input-block">
                <textarea name="member_jp" rows="10" class="layui-textarea editor">{$row.member_jp|default=''}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">路線圖(日)</label>
            <div class="layui-input-block">
                <textarea name="roadmap_jp" rows="10" class="layui-textarea editor">{$row.roadmap_jp|default=''}</textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">簡介(韓)</label>
            <div class="layui-input-block">
                <textarea name="introduction_ko" rows="10" class="layui-textarea editor">{$row.introduction_ko|default=''}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">成員介紹(韓)</label>
            <div class="layui-input-block">
                <textarea name="member_ko" rows="10" class="layui-textarea editor">{$row.member_ko|default=''}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">路線圖(韓)</label>
            <div class="layui-input-block">
                <textarea name="roadmap_ko" rows="10" class="layui-textarea editor">{$row.roadmap_ko|default=''}</textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">項目合約</label>
            <div class="layui-input-block">
                <input type="text" name="contract" class="layui-input" placeholder="請輸入項目合約" value="{$row.contract|default=''}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">OpenSea Name</label>
            <div class="layui-input-block">
                <input type="text" name="os_name" class="layui-input" placeholder="" value="{$row.os_name|default=''}">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">狀態</label>
            <div class="layui-input-inline">
                <input type="radio" name="valid" value="1" title="啓用" <?php echo $row['valid']==1?'checked':'';?>>
                <input type="radio" name="valid" value="2" title="作廢" <?php echo $row['valid']==1?'checked':'';?>>
            </div>
        </div>

        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>確認</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>
    </form>
</div>