 



.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
}
.card.card-background {
  background-color: #1C1C24;
  border-radius: 16px;
  color: rgba(255, 255, 255, 0.9);
  border: 2px solid $color-alpha-white-10;
}
.card.card-background-dark {
  background-color: #121212;
  border-radius: 16px;
  color: rgba(255, 255, 255, 0.9);
  border: 2px solid $color-alpha-white-10;
}
.card .card-icon-title-wrap {
  display: flex;
}
.card-icon-title-wrap .icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
}
.card-icon-title-wrap .title {
  flex: 1;
}


/*----- card-image-content -----*/
.card-image-content {
  // width: 100%;
  overflow: hidden;
  // position: relative;
  img{
    object-fit:cover;
    vertical-align: middle;
  }
}
.card-image-content.ratio--1_1 {
  aspect-ratio: 1/1;
}
.card-image-content.ratio--1-91_1 {
  aspect-ratio: 1.91/1;
}
.card-image-content.ratio--3_2 {
  aspect-ratio: 3/2;
}
.card-image-content.ratio--4_3 {
  aspect-ratio: 4/3;
}
.card-image-content.ratio--16_9 {
  aspect-ratio: 16/9;
}
.card-image-content.bdRadius-8 {
  border-radius: 8px;
}
.card-image-content.bdRadius-16 {
  border-radius: 8px;
}

/*----- card-body-content -----*/
.card-body-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 1;
  
}

.minting-section .card-body-content {
  background-color: #1C1C24;
  border-radius: 0px 0px 16px 16px;
  color: rgba(255, 255, 255, 0.9);
  border: 2px solid $color-alpha-white-10;
  border-top: none;
}


.card-title-h3 {
  // 28px-22px
  @include display-B-3;
}
.card-title-h4 {
  // 22px-20px
  @include display-B-4;
}
.card-title-h5 {
  // 22px-20px
  @include display-B-5;
}
.card-text-p {
  @include body-L-1;
}
.card-text-small {
  @include functional-L-1;
  color: rgba(255,255,255,.3490196078);
}
.clamp-single {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clamp-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.clamp-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.clamp-5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}


.card-tag {
  display: inline-block;
  @include body-L-2;
  padding: 2px 8px;
  background-color: #4447E2;
  border-radius: 4px;
}

.card .link-wrap {
  display: flex;
  align-items: center;
  gap: 16px;
}
 .card .link-wrap .link-icon svg {
  fill: rgba(255, 255, 255, 0.2);
  height: 32px;
  width: 32px;
}


// Minting圖片區 - 底圖
.card .card-image {
  width: 100%;
  border-radius: 16px 16px 0px 0px;
  overflow: hidden;
  position: relative;
}

// Minting圖片區 - icon
.card-icon-group {
  display: flex;
  position: absolute;
  top: 24px;
  left: 24px;
  gap: 16px;
}
.card-icon-group .icon-img-wrap {
  width: 24px;
  height: 20px;
}
.card-icon-group .icon-img-wrap img{
  width: 100%;
}

// Minting圖片區 - 時間
.card .card-image .card-time-wrap {
  position: absolute;
  width: fit-content;
  display: flex;
  gap: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.card .card-image .card-time-wrap p {
  @include display-B-5;
  padding: 10px;
  border-radius: 8px;
  background-color: #4447E2;
}


.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}
.bg-alpha-white-10 {
  background-color: $color-alpha-white-10;
}
.bg-alpha-white-55 {
  background-color: $color-alpha-white-55;
}
.bg-white {
  background-color: $color-white;
}






