


.blog-main-img-wrap {
  display: block;
  width: 100%;
  aspect-ratio: 7/4;
}
.blog-main-img {
  vertical-align: middle;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blog-caption {
  @include functional-L-1;
}