/* index.less */
.title{
    width: 84%;
    text-align:left;
    font-size:36px;
    font-weight: 700;
    display:flex;

}
.text-black{
    color:black !important;
    letter-spacing: 1px;
}
.box{
    height:50px;
    display:flex;
img{
    width:50px;
    height:50px;
}
.tit{
    padding-left:8px;
    font-weight:700;
    font-size:36px;
}
}
.subtitle{
    text-align:right;
    border:1px solid #4447E2;
    padding:4px 24px;
    height:35px;
    border-radius:24px;
    background: rgba(255, 255, 255, 0.2);
    color:rgba(255, 255, 255, 0.35);
}
.subtitle:hover{
    color: #fff;
    background: #8585FF;
}
.tabs{
    display:flex;
    gap: 8px;
}
.tag{
    border: 1px solid #8585FF;
    padding: 4px 16px;
    background: #1C1C24;
    border-radius: 24px;
    height:30px;
    line-height:21px;
    color: rgba(255, 255, 255, 0.35);
    font-weight:400;
}
.tag:hover{
    color: #fff;
    background: #8585FF;
}
.active_tag{
    background: linear-gradient(180deg, #8585FF 0%, #4A4AC4 100%);
    border-radius: 24px;
    color: #fff;
}
.pc_header{
    display: none !important;
}
.middle_header {
    display: none;
}


@media screen and (max-width: 576px) {

}

@media screen and (min-width: 768px){
    .small_header {
        display: none;
    }
    .middle_header{
        display: block !important;
    }
}
@media screen and (min-width: 992px){}
@media screen and (min-width: 1200px){
    .middle_header{
        display: none !important;
    }
    .pc_header{
        display: block !important;
    }
}
@media screen and (min-width: 1536px){}







/* 錢包 */
.wallet_box{
    display: flex;
    justify-content:space-between;
    margin-top: 82.5px;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table-wrap table {
    font-family: "Noto Sans TC", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 0.3490196078);
    width: 100%;
    white-space: nowrap;
    border-collapse: separate;
    border-spacing: 0 8px;
    border-radius: 16px;
    padding: 8px;
}
.table-wrap table {
    font-size: 16px;
}
@media screen and (min-width: 768px) {
    .table-wrap table {
        font-size: calc(0vw + 16px);
    }
}
@media screen and (min-width: 1536px) {
    .table-wrap table {
        font-size: 16px;
    }
}

.table-wrap table thead th {
    padding-right: 20px;
}

.table-wrap table thead th:not(:first-of-type) {
    text-align: start;
}

.table-wrap table tbody tr:hover th,
.table-wrap table tbody tr:hover td {
    background-color: rgba(255, 255, 255, 0.1019607843);
}

.table-wrap table tbody th,
.table-wrap table tbody td {
    background-color: #1C1C24;
    font-family: "Noto Sans TC", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.57;
    letter-spacing: 0;
}
.table-wrap table tbody th,
.table-wrap table tbody td {
    font-size: 16px;
}
@media screen and (min-width: 768px) {
    .table-wrap table tbody th,
    .table-wrap table tbody td {
        font-size: calc(0vw + 16px);
    }
}
@media screen and (min-width: 1536px) {
    .table-wrap table tbody th,
    .table-wrap table tbody td {
        font-size: 16px;
    }
}
.table-wrap table thead th:nth-child(2){
    width:350px;
}
.table-wrap table tbody th {
    border-radius: 16px 0 0 16px;
    padding: 16px;
    vertical-align: middle;
}

.table-wrap table tbody td {
    color: #FFFFFF;
    padding: 8px 16px 8px 0;
    vertical-align: middle;
}

.table-wrap table tbody td:last-of-type {
    border-radius: 0 16px 16px 0;
    width:80px;
}

.table-wrap table tbody .td-wrap {
    max-width: 200px;
}

.table-wrap table tbody .td-wrap-content {
    display: flex;
    align-items: center;
    width: 180px;
}

.table-wrap table tbody .td-wrap-content .profile-pic {
    flex: 0 0 24px;
}
.go-down{
    color: #e94949 !important;
}
.go-up {
    color: #14d400 !important;
}
/*----- card 附icon文字設定 -----*/
.card-text-icon-wrap {
    display: flex;
    align-items: center;
}
.heading-B-4 {
    font-family: "Noto Sans TC", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0;
    color: #4447E2;
}
 .card-text-icon-wrap {
    gap: 16px;
}
.card-text-icon-wrap {
    display: flex;
    align-items: center;
}
@media screen and (min-width: 768px) {
    .card-text {
        font-size: calc(0vw + 16px);
    }
}




@media screen and (min-width: 768px) {
    .title-set {
        font-size: calc(0vw + 36px);
    }
}

@media screen and (min-width: 1536px) {
    .title-set {
        font-size: 36px;
    }
}

.title-icon {
    width: 50px;
    height: 50px;
}
.unitImg{
    width: 20px;
    height: 24px;
    display: inline-block;
}

