<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">

        <div class="layui-form-item">
            <label class="layui-form-label required">用戶頭像</label>
            <div class="layui-input-block layuimini-upload">
                <input name="avatar" class="layui-input layui-col-xs6" lay-verify="required" lay-reqtext="請上傳用戶頭像" placeholder="請上傳用戶頭像" value="{$row.head_img|default=''}">
                <div class="layuimini-upload-btn">
                    <span><a class="layui-btn" data-upload="avatar" data-upload-number="one" data-upload-exts="png|jpg|ico|jpeg"><i class="fa fa-upload"></i> 上傳</a></span>
                    <span><a class="layui-btn layui-btn-normal" id="select_avatar" data-upload-select="avatar" data-upload-number="one"><i class="fa fa-list"></i> 選擇</a></span>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">登錄帳戶</label>
            <div class="layui-input-block">
                <input type="text" name="username" class="layui-input" readonly value="{$row.username|default=''}">
                <tip>填寫登錄帳戶。</tip>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">用戶手機</label>
            <div class="layui-input-block">
                <input type="text" name="phone" class="layui-input" lay-reqtext="請輸入用戶手機" placeholder="請輸入用戶手機" value="{$row.username|default=''}">
                <tip>填寫用戶手機。</tip>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">角色權限</label>
            <div class="layui-input-block">
                {foreach auth_list as $key=>$val}
                <input type="checkbox" name="auth_ids[{$key}]" lay-skin="primary" title="{$val}" {if in_array($key,$row.auth_ids)}checked="" {/if}>
                {/foreach}
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">備註訊息</label>
            <div class="layui-input-block">
                <textarea name="remark" class="layui-textarea" placeholder="請輸入備註訊息">{$row.username|default=''}</textarea>
            </div>
        </div>

        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>確認</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>
