.el-popper.is-light {
  background: #121212 !important;
  border: 1px solid #FFFFFF66 !important;
}
.el-menu--horizontal {
  border: none;
}
.el-menu {
  background:#121212 !important;
}
.el-menu--horizontal .el-menu .el-menu-item {
  background:#121212 !important;
  color: #FFFFFF99 !important;
}
.el-popper.is-light .el-popper__arrow::before {
  border: 1px solid #FFFFFF66;
  background: #121212;
  right: 0;
  
}
