.el-popper.is-light {
  background: #121212 !important;
  border: 1px solid #FFFFFF66 !important;
}
.el-menu--horizontal {
  border: none;
}
.el-menu {
  background:#121212 !important;
}
.el-menu--horizontal .el-menu .el-menu-item {
  background:#121212 !important;
  color: #FFFFFF99 !important;
}
/* .el-menu--horizontal .el-menu-item:focus, .el-menu--horizontal .el-menu-item:hover {
  background-color: #FFFFFF1A;
} */