@font-face {
  font-family: "iconfont"; /* Project id 2166025 */
  src: url('iconfont.woff2?t=1661333092731') format('woff2'),
       url('iconfont.woff?t=1661333092731') format('woff'),
       url('iconfont.ttf?t=1661333092731') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tongxunlu-mian:before {
  content: "\e624";
}

.icon-gengduo:before {
  content: "\e818";
}

.icon-guanbi1:before {
  content: "\e638";
}

.icon-hao:before {
  content: "\e601";
}

.icon-guanbi:before {
  content: "\e68b";
}

.icon-shanchu:before {
  content: "\e618";
}

.icon-fanhui:before {
  content: "\e606";
}

.icon-mima:before {
  content: "\e62a";
}

.icon-zhanghao:before {
  content: "\e605";
}

.icon-xiugai1:before {
  content: "\e60f";
}

.icon-tick:before {
  content: "\e613";
}

.icon-weizhi:before {
  content: "\e6f8";
}

.icon-xiugai:before {
  content: "\e6da";
}

.icon-chenghao:before {
  content: "\e600";
}

.icon-htmal5icon19:before {
  content: "\e637";
}

.icon-jiantou:before {
  content: "\e69b";
}

.icon-shixiangxiajiantou-:before {
  content: "\e625";
}

.icon-xiangyou1:before {
  content: "\e6d8";
}

.icon-web-icon-:before {
  content: "\e71c";
}

.icon-ai-kind:before {
  content: "\e64d";
}

.icon-xiaoxi:before {
  content: "\e623";
}

.icon-xiaoxi-copy:before {
  content: "\e719";
}

.icon-xiangyou:before {
  content: "\e60c";
}

.icon-fanhui-X:before {
  content: "\e604";
}

.icon-ellipsis2:before {
  content: "\e701";
}

.icon-xingxing:before {
  content: "\e622";
}

.icon-sousuo2:before {
  content: "\e6aa";
}

.icon-sousuo:before {
  content: "\e718";
}

.icon-sousuo1:before {
  content: "\e628";
}

.icon-xiangxia:before {
  content: "\e612";
}

