/* Element Chalk Variables */
.el-picker-panel {
  color: var(--el-text-color-regular);
  background: var(--el-bg-color-overlay);
  border-radius: var(--el-border-radius-base);
  line-height: 30px;
}
.el-picker-panel .el-time-panel {
  margin: 5px 0;
  border: solid 1px var(--el-datepicker-border-color);
  background-color: var(--el-bg-color-overlay);
  box-shadow: var(--el-box-shadow-light);
}
.el-picker-panel__body::after, .el-picker-panel__body-wrapper::after {
  content: "";
  display: table;
  clear: both;
}

.el-picker-panel__content {
  position: relative;
  margin: 15px;
}

.el-picker-panel__footer {
  border-top: 1px solid var(--el-datepicker-inner-border-color);
  padding: 4px 12px;
  text-align: right;
  background-color: var(--el-bg-color-overlay);
  position: relative;
  font-size: 0;
}

.el-picker-panel__shortcut {
  display: block;
  width: 100%;
  border: 0;
  background-color: transparent;
  line-height: 28px;
  font-size: 14px;
  color: var(--el-datepicker-text-color);
  padding-left: 12px;
  text-align: left;
  outline: none;
  cursor: pointer;
}
.el-picker-panel__shortcut:hover {
  color: var(--el-datepicker-hover-text-color);
}
.el-picker-panel__shortcut.active {
  background-color: #e6f1fe;
  color: var(--el-datepicker-active-color);
}

.el-picker-panel__btn {
  border: 1px solid var(--el-fill-color-darker);
  color: var(--el-text-color-primary);
  line-height: 24px;
  border-radius: 2px;
  padding: 0 20px;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  font-size: 12px;
}
.el-picker-panel__btn[disabled] {
  color: var(--el-text-color-disabled);
  cursor: not-allowed;
}

.el-picker-panel__icon-btn {
  font-size: 12px;
  color: var(--el-datepicker-icon-color);
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
  margin-top: 8px;
}
.el-picker-panel__icon-btn:hover {
  color: var(--el-datepicker-hover-text-color);
}
.el-picker-panel__icon-btn:focus-visible {
  color: var(--el-datepicker-hover-text-color);
}
.el-picker-panel__icon-btn.is-disabled {
  color: var(--el-text-color-disabled);
}
.el-picker-panel__icon-btn.is-disabled:hover {
  cursor: not-allowed;
}

.el-picker-panel__icon-btn .el-icon {
  cursor: pointer;
  font-size: inherit;
}

.el-picker-panel__link-btn {
  vertical-align: middle;
}

.el-picker-panel *[slot=sidebar],
.el-picker-panel__sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 110px;
  border-right: 1px solid var(--el-datepicker-inner-border-color);
  box-sizing: border-box;
  padding-top: 6px;
  background-color: var(--el-bg-color-overlay);
  overflow: auto;
}

.el-picker-panel *[slot=sidebar] + .el-picker-panel__body,
.el-picker-panel__sidebar + .el-picker-panel__body {
  margin-left: 110px;
}

.el-date-picker {
  --el-datepicker-text-color: var(--el-text-color-regular);
  --el-datepicker-off-text-color: var(--el-text-color-placeholder);
  --el-datepicker-header-text-color: var(--el-text-color-regular);
  --el-datepicker-icon-color: var(--el-text-color-primary);
  --el-datepicker-border-color: var(--el-disabled-border-color);
  --el-datepicker-inner-border-color: var(--el-border-color-light);
  --el-datepicker-inrange-bg-color: var(--el-border-color-extra-light);
  --el-datepicker-inrange-hover-bg-color: var(--el-border-color-extra-light);
  --el-datepicker-active-color: var(--el-color-primary);
  --el-datepicker-hover-text-color: var(--el-color-primary);
}

.el-date-picker {
  width: 322px;
}
.el-date-picker.has-sidebar.has-time {
  width: 434px;
}
.el-date-picker.has-sidebar {
  width: 438px;
}
.el-date-picker.has-time .el-picker-panel__body-wrapper {
  position: relative;
}
.el-date-picker .el-picker-panel__content {
  width: 292px;
}
.el-date-picker table {
  table-layout: fixed;
  width: 100%;
}
.el-date-picker__editor-wrap {
  position: relative;
  display: table-cell;
  padding: 0 5px;
}

.el-date-picker__time-header {
  position: relative;
  border-bottom: 1px solid var(--el-datepicker-inner-border-color);
  font-size: 12px;
  padding: 8px 5px 5px;
  display: table;
  width: 100%;
  box-sizing: border-box;
}

.el-date-picker__header {
  margin: 12px;
  text-align: center;
}
.el-date-picker__header--bordered {
  margin-bottom: 0;
  padding-bottom: 12px;
  border-bottom: solid 1px var(--el-border-color-lighter);
}
.el-date-picker__header--bordered + .el-picker-panel__content {
  margin-top: 0;
}

.el-date-picker__header-label {
  font-size: 16px;
  font-weight: 500;
  padding: 0 5px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  color: var(--el-text-color-regular);
}
.el-date-picker__header-label:hover {
  color: var(--el-datepicker-hover-text-color);
}
.el-date-picker__header-label:focus-visible {
  outline: none;
  color: var(--el-datepicker-hover-text-color);
}
.el-date-picker__header-label.active {
  color: var(--el-datepicker-active-color);
}

.el-date-picker__prev-btn {
  float: left;
}

.el-date-picker__next-btn {
  float: right;
}

.el-date-picker__time-wrap {
  padding: 10px;
  text-align: center;
}

.el-date-picker__time-label {
  float: left;
  cursor: pointer;
  line-height: 30px;
  margin-left: 10px;
}

.el-date-picker .el-time-panel {
  position: absolute;
}/*# sourceMappingURL=date-picker.css.map */